<nav class="navegacion">
    <ul>
        <li><a href="/">
            <span class="material-symbols-outlined">
                home
            </span> Home</a>
        </li>
        <li><a href="/contact"><span class="material-symbols-outlined">
            alternate_email
            </span>  Contact</a></li>
    </ul>
</nav>