<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <header class="header">
        <div class="contenedor header-contenido">
            <div class="header-imagen">
                <img src="/img/nodeJS-logo.png" alt="logo node">
            </div>
            <div class="header-texto">
                <p>Sitio web creado con</p>
                <h1 class="gradiente">NodeJS</h1>
                <p>Profesor: JOSE LUIS DAVID BONILLA CARRANZA</p>
            </div>
        </div>
    </header>
    
    <section class="contenedor-nav">
        <%- include('partials/nav.ejs') %>
    </section>

    <main>

    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>